/* tag */
a {
  padding: 8px;
  text-decoration: none;
  color: #007cf1;
}
button {
  width: 50px;
  padding: 2px;
  margin: 3px;
  color: white;
  background-color: black;
  border: #f1f1f1 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(54, 54, 54);
}

/* public */
.p-20 {
  padding: 20px;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.top-2 {
  top: 2px;
}
.font-15 {
  font-size: 15px;
}
.font-30 {
  font-size: 30px;
}
.white {
  color: white;
}
.pointer {
  cursor: pointer;
}
.grey {
  color: #818181;
}
.mr-20 {
  margin-right: 20px;
}

/* class */
.imgs {
  width: 320px;
  display: flex;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side {
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 70px;
  z-index: 999;
}
.tag span:hover,
.side a:hover,
.howToUse:hover {
  color: white;
}
.tag {
  border-radius: 10px;
  background-color: black;
  padding: 6px;
  right: -23px;
}
.howToUse {
  font-size: 25px;
  bottom: 10px;
  right: 10px;
  height: 100px;
}
.numInput {
  width: 42px;
}
.textInput {
  width: 145px;
}
